include COPYING INSTALL CHANGELOG MANIFEST.in makedoc
recursive-include examples README *.py
recursive-include test runtests dhpriv linkparse.txt n2b64 trustroot.txt *.py
recursive-include doc *.css *.html
